// Laravel Colors
$color__salmon:         #f4645f;
$color__darker_salmon:  #e74430;
$color__faint:          #f0f2f1;
$color__gray:           #525252;
$color__light_gray:     #aeaeae;
$color__lighter_gray:   #dee0df;
$color__teal:           #27b4a8;

// Bulma
$primary: $color__darker_salmon;
$primary-invert: $color__faint;

//@import "~bulma/bulma";
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";

@import "~bulma/sass/components/media.sass";
@import "~bulma/sass/components/message.sass";
//@import "~bulma/sass/elements/container.sass";
//@import "~bulma/sass/elements/content.sass";
//@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/image.sass";
